util/spring/src/main/resources/META-INF/spring/conditional.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://scriptbox.org/spring/conditional"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://scriptbox.org/spring/conditional" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="test">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="expression" type="xsd:string" minOccurs="0" />
				<xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="property" type="xsd:string" />
			<xsd:attribute name="value" type="xsd:string" />
			<xsd:attribute name="expression" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="present">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="property" type="xsd:string" />
			<xsd:attribute name="set" type="xsd:boolean" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="switch">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="case" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="values" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="value" type="xsd:string"
											minOccurs="1" maxOccurs="unbounded" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:any minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
						<xsd:attribute name="value" type="xsd:string" />
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="default" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:any minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>
			<xsd:attribute name="property" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="import">
		<xsd:complexType>
			<xsd:attribute name="property" type="xsd:string" />
			<xsd:attribute name="value" type="xsd:string" />
			<xsd:attribute name="resource" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dependency">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="classes" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>